.nav {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px;
    height: 30px;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    transition: all 0.5s;
    transition-timing-function: ease-in;
}
.nav__black {
    background-color: #111;
}
.nav__logo {
    position: fixed;
    left: 20px;
    width: 80px;
    object-fit: contain;
}
.nav__avatar {
    position: fixed;
    right: 20px;
    width: 30px;
    object-fit: contain;
}
.menu{
    position: fixed;
    /* left: 5px; */
    /* justify-content: space-evenly; */
    top: 15px;
    left: 80px;
}
.menu li{
    color: white;
    list-style: none;
    display: inline-block;
    
    

}
button{
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}
button:hover{
    color: rgba(255, 255, 255, 0.658); 
    text-decoration:none ;
}